[Unit]
Description=PHP FastCGI instance spawner

[Service]
Type=simple
ExecStart=/usr/local/bin/spawn-php-fcgi 2

User=%i
Group=%i

[Install]
WantedBy=multi-user.target
